<mat-card>
  <mat-card-content>
    <h1 mat-dialog-title>Add a new supplier.</h1>
    <div mat-dialog-content>
      <form class="example-form" [formGroup]="supplierForm">

        <mat-form-field appearance="fill">
          <mat-label>Code</mat-label>
          <input formControlName="code" type="text" matInput placeholder="Type the code of the supplier.">
          <mat-error *ngIf="supplierForm.get('code')?.errors?.['required']">You must enter a value.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input formControlName="name" type="text" matInput placeholder="Type the name of the supplier.">
          <mat-error *ngIf="supplierForm.get('name')?.errors?.['required']">You must enter a value.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Telephone</mat-label>
          <span matPrefix>+53 &nbsp;</span>
          <input formControlName="phone_number" type="tel" maxlength="8" matInput placeholder="769-8**-**">
          <mat-icon matSuffix>phone</mat-icon>
          <mat-error *ngIf="supplierForm.get('phone_number')?.errors?.['required']">You must enter a value.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input formControlName="address" type="text" matInput placeholder="Type the address of supplier.">
          <mat-error *ngIf="supplierForm.get('address')?.errors?.['required']">You must enter a value.</mat-error>
        </mat-form-field>

        <div mat-dialog-actions [align]="'end'">
          <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
          <button mat-raised-button color="primary" (click)="addSupplier()">{{actionButton}}</button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>

