<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>User</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h1 mat-dialog-title>{{dialogName}}</h1>
    <div mat-dialog-content>
    <div class="signup">
      <form class="example-form">

        <mat-form-field appearance="fill">
          <mat-label>Type your full name</mat-label>
          <input [formControl]="name" type="text" matInput placeholder="Type your name.">
          <mat-error *ngIf="name.invalid">You must enter a value.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Type your email</mat-label>
          <input [formControl]="email" type="email" matInput placeholder="pat@example.com" >
          <mat-error *ngIf="email.invalid">You must enter a valid email.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Type the password</mat-label>
          <input [formControl]="password" matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">You must enter a value.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Retype the password</mat-label>
          <input [formControl]="password_confirmation" matInput [type]="hideConfirmation ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hideConfirmation = !hideConfirmation" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmation">
            <mat-icon>{{hideConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password_confirmation.invalid">You must enter a value.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Role</mat-label>
          <mat-select [formControl]="role" placeholder="Select role">
            <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
          </mat-select>
          <mat-error *ngIf="role.invalid">You must select a value.</mat-error>
        </mat-form-field>

        <div mat-dialog-actions [align]="'end'">
          <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
          <button mat-raised-button color="primary" (click)="register()">{{actionButton}}</button>
        </div>
      </form>
    </div>
    </div>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
