<div class="body">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle>Login</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="login">
        <img alt="" src="assets/img/user.png">
        <form (ngSubmit)="logIn()" class="example-form">
            <mat-form-field appearance="fill">
              <mat-label>Enter your email</mat-label>
              <input [formControl]="email" type="email" matInput placeholder="pat@example.com" >
              <mat-error *ngIf="email.invalid">You must enter a valid email.</mat-error>
            </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input [formControl]="password" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid">You must enter a value.</mat-error>
          </mat-form-field>
          <div mat-dialog-actions>
            <button type="submit" mat-raised-button color="primary" id="login_btn">Login</button>
          </div>
        </form>
      </div>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>

