<mat-card>
  <mat-card-content>
    <h1 mat-dialog-title>Add a new product.</h1>
    <div mat-dialog-content>
      <form class="example-form" [formGroup]="productForm">

        <mat-form-field class="example-full-width">
          <mat-label>Code</mat-label>
          <input formControlName="code" type="text" matInput placeholder="Type the code of the product.">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input formControlName="name" type="text" matInput placeholder="Type the name of the product.">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Type</mat-label>
          <input formControlName="type" type="text" matInput placeholder="Type the type of product.">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Cost</mat-label>
          <input formControlName="cost" type="number" matInput placeholder="Type the cost of the product.">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Measurement unit</mat-label>
          <input formControlName="measurement_unit" type="text" matInput placeholder="Type the measurement unit of the product.">
        </mat-form-field>
        <div mat-dialog-actions [align]="'end'">
          <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
          <button mat-raised-button color="primary" (click)="addProduct()">{{actionButton}}</button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
